@import "./components/Dropdown/Dropdown.css";


:root {
    --bg-color: #f0efe0;
    --bg-color-secondary: #fafafa;
    --primary-color: #160d00;

    --compare-color1: red;
    --compare-color2: yellow;
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    background: var(--bg-color);
}

.main-wrapper {
    min-height: 100vh;
}

/* Generic Components
--------------------------*/


.icon {
    fill: var(--primary-color);
}

.button {
    background: none;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 2ex;
}

/* Sorintg Controlls
--------------------------*/

.sorting-controlls {
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: var(--bg-color-secondary);
    z-index: 999;
}

.controll-section {
    display: flex;
    align-items: center;
}

.input-box {

    padding: 1rem;
    display: flex;

    color: var(--primary-color);
    font-size: larger;
    background: none;
    border-radius: 8px;
    
    background: #00000010;
    border: none;
}

.sorting-controlls button {
    background: none;
    border: none;
    color: var(--primary-color);
    padding: 0.8rem 1rem;
    border-radius: 24px;
    cursor: pointer;
}



/* Progress Bar
--------------------------*/

.progress-wrapper {
    height: 0.2rem;
    width: 100%;
    background: none;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    transition: width 1ms ease;
    transition: width 20ms ease-in-out;
}


/* Array Output
--------------------------*/

.output-wrapper {
    overflow: auto;
}

.array-output {
    transform: rotateX(180deg);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;

    height: calc(100vh - 8rem);
}

.array-bar {
    min-width: 1px;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);

}


/* Footer
--------------------------*/

footer {
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: var(--bg-color-secondary);
    color: var(--primary-color);
}
